.app__menu {
  grid-row: 1/-1;
  grid-column: 2/4;
  background-color: #e4eaff;
  opacity: 0.7;
  display: grid;
  grid-template-columns: minmax(2rem, 4rem) 1fr minmax(2rem, 4rem);
  grid-template-rows: 3rem 1fr 3rem;
}

.menu__mainStock {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 2rem 1fr 1fr 1fr 2rem;
  grid-template-rows: 3rem 1fr 1fr 3rem;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
}
.stock__card {
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.card__1 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.card__2 {
  grid-row: 2/3;
  grid-column: 3/4;
}
.card__3 {
  grid-row: 2/3;
  grid-column: 4/5;
}
