.app__nav {
  grid-row: 1/-1;
  grid-column: 1/2;
  background-color: #e4eaff;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__logo {
    width: 100%;
    height: 20%;
    margin-top: 7rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__nav {
    justify-self: flex-start;
    width: 100%;
    height: 50%;
  }
}

.logo {
  width: 7rem;
  fill: #5d7de7;

  &__h1 {
    font-size: 2rem;
    color: #5d7de7;
    font-weight: lighter;
    font-style: italic;
  }
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;

  list-style: none;
}

.nav__item {
  margin-top: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  vertical-align: center;
  text-decoration: none;
  height: 5rem;
  font-size: 2rem;
  left: 2rem;
  cursor: pointer;
  z-index: 1;
  color: #6685e8;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2rem;
    display: block;
    width: 0;
    height: 100%;
    transition: all 0.3s ease-out;
    color: #ecf0ff;
    background-color: #ecf0ff;
    opacity: 1;
    z-index: -2;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
}
.icon__item {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 5rem;
  top: 1.3rem;
  fill: #6685e8;
}

.conditionst {
  margin-top: auto;
  margin-bottom: 2rem;
  opacity: 0.7;
}
