.stock__card {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__1 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.card__2 {
  grid-row: 2/3;
  grid-column: 3/4;
}
.card__3 {
  grid-row: 2/3;
  grid-column: 4/5;
}

.stock__canvas {
  width: 90%;
  height: 65%;
}

.stock__down__data {
  width: 90%;
  height: 30%;
  display: flex;
}

.stock__down__data__name {
  width: 90%;
}

.stock__logo {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock__name {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stock__exchange {
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.logoCard {
  width: 5rem;
  opacity: 1;
}
.stockName__span {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
}

.stockSymbol__span {
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}
